/* @font-face{
    font-family:Montserrat;
    src:url('../fonts/Montserrat-Medium.woff2') format('woff2'),url('../fonts/Montserrat-Medium.woff') format('woff'),url('../fonts/Montserrat-Medium.ttf') format('truetype');font-weight:500;font-style:normal;font-display:swap}@font-face{font-family:Montserrat;src:url('../fonts/Montserrat-Bold.woff2') format('woff2'),url('../fonts/Montserrat-Bold.woff') format('woff'),url('../fonts/Montserrat-Bold.ttf') format('truetype');font-weight:700;font-style:normal;font-display:swap}@font-face{font-family:plus-jakarta-sans;src:url('../fonts/PlusJakartaSans-Regular.woff2') format('woff2'),url('../fonts/PlusJakartaSans-Regular.woff') format('woff'),url('../fonts/PlusJakartaSans-Regular.ttf') format('truetype');font-weight:400;font-style:normal;font-display:swap}@font-face{font-family:plus-jakarta-sans;src:url('../fonts/PlusJakartaSans-Light.woff2') format('woff2'),url('../fonts/PlusJakartaSans-Light.woff') format('woff'),url('../fonts/PlusJakartaSans-Light.ttf') format('truetype');font-weight:300;font-style:normal;font-display:swap}@font-face{font-family:plus-jakarta-sans;src:url('../fonts/PlusJakartaSans-Medium.woff2') format('woff2'),url('../fonts/PlusJakartaSans-Medium.woff') format('woff'),url('../fonts/PlusJakartaSans-Medium.ttf') format('truetype');font-weight:500;font-style:normal;font-display:swap}@font-face{font-family:pt-sans;src:url('../fonts/PTSans-Bold.eot');src:url('../fonts/PTSans-Bold.eot#iefix') format('embedded-opentype'),url('../fonts/PTSans-Bold.woff2') format('woff2'),url('../fonts/PTSans-Bold.woff') format('woff'),url('../fonts/PTSans-Bold.ttf') format('truetype');font-weight:700;font-style:normal;font-display:swap}@font-face{font-family:pt-sans;src:url('../fonts/PTSans-Regular.eot');src:url('../fonts/PTSans-Regular.eot#iefix') format('embedded-opentype'),url('../fonts/PTSans-Regular.woff2') format('woff2'),url('../fonts/PTSans-Regular.woff') format('woff'),url('../fonts/PTSans-Regular.ttf') format('truetype');font-weight:400;font-style:normal;font-display:swap} */

    @font-face {
        font-family: 'Montserrat';
        src:url('../fonts/Montserrat-Medium.woff') format('woff'),
            url('../fonts/Montserrat-Medium.ttf') format('truetype');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Montserrat';
        src:url('../fonts/Montserrat-Bold.woff') format('woff'),
            url('../fonts/Montserrat-Bold.ttf') format('truetype');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'plus-jakarta-sans';
        src:url('../fonts/PlusJakartaSans-Regular.woff') format('woff'),
            url('../fonts/PlusJakartaSans-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'plus-jakarta-sans';
        src:url('../fonts/PlusJakartaSans-Light.woff') format('woff'),
            url('../fonts/PlusJakartaSans-Light.ttf') format('truetype');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'plus-jakarta-sans';
        src:url('../fonts/PlusJakartaSans-Medium.woff') format('woff'),
            url('../fonts/PlusJakartaSans-Medium.ttf') format('truetype');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'pt-sans';
        src: url('../fonts/PTSans-Bold.eot');
        src: url('../fonts/PTSans-Bold.eot#iefix') format('embedded-opentype'),
            url('../fonts/PTSans-Bold.woff') format('woff'),
            url('../fonts/PTSans-Bold.ttf') format('truetype');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'pt-sans';
        src: url('../fonts/PTSans-Regular.eot');
        src: url('../fonts/PTSans-Regular.eot#iefix') format('embedded-opentype'),
            url('../fonts/PTSans-Regular.woff') format('woff'),
            url('../fonts/PTSans-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    